{% extends "accounts/_auth_shell.html" %}
{% block title %}Recuperar acesso{% endblock %}
{% block eyebrow %}Recuperar acesso{% endblock %}
{% block heading %}Nova palavra-passe{% endblock %}
{% block lead %}Indica o email da tua conta e enviamos-te um link para definires uma nova palavra-passe.{% endblock %}
{% block form %}
<form method="post" class="space-y-4" novalidate>
  {% csrf_token %}
  {% include "partials/form_errors.html" %}
  {% include "partials/field.html" with field=form.email %}
  <button type="submit" class="btn btn-primary btn-block">Enviar link</button>
</form>
{% endblock %}
